body {
  z-index: 1001;
}

.side-bar, .form-inline, .btn, .container {
  position: relative;
  z-index: 1002;  /* Z-index maior para garantir que fique acima */
}

.side-bar,
.side-bar * {
  box-sizing: border-box;
}

.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  z-index: 1000; 
}

input, select, .btn, .form-inline {
  position: relative; 
  z-index: 1001; 
}

.rectangle-1 {
  background: #ffffff;
  width: 0px;
  height: 10px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.group-13 {
  flex-shrink: 0;
  width: 35.5px;
  height: 35.5px;
  position: static;
}

.menu-items {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: 180px;
}

.rectangle-9 {
  background: rgba(85, 132, 206, 0);
  border-radius: 0px 5px 5px 0px;
  flex-shrink: 0;
  width: 6px;
  height: 50px;
  position: relative;
}
.group-3 {
  flex-shrink: 0;
  width: 250px;
  height: 50px;
  position: static;
}
.rectangle-8 {
  background: rgba(242, 247, 255, 0);
  width: 250px;
  height: 50px;
  position: absolute;
  left: 10px;
  top: 0px;
}
.frame-7 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 30px;
  top: 13px;
}

.staff {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: absolute;
}

.staff2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.staff3 {
  background: var(
    --relia-energy-gradient,
    linear-gradient(135deg, rgba(20, 173, 214, 1) 0%, rgba(56, 66, 149, 1) 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-family: var(--body-2-normal-font-family, "Nunito-Regular", sans-serif);
  font-size: var(--body-2-normal-font-size, 14px);
  line-height: var(--body-2-normal-line-height, 24px);
  font-weight: var(--body-2-normal-font-weight, 400);
  position: relative;
}


.payroll {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.circulars {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.group-8 {
  width: 66.64%;
  height: 76%;
  position: absolute;
  right: 16.69%;
  left: 16.67%;
  bottom: 11.5%;
  top: 12.5%;
  overflow: visible;
}
