{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}

<h2>
    {% if form.instance.pk %}
        Editar Produto
    {% else %}
        Criar Produto
    {% endif %}
</h2>

<form method="POST" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    {% for field in form.visible_fields %}
        <div class="form-group{% if field.errors %} has-error {% endif %}">
            <label for="{{ field.id_for_label }}">
                {% if field.field.required %}
                    <span class="required">{{ field.label }}</span>
                {% else %}
                    {{ field.label }}
                {% endif %}
            </label>
            {% if field.name == 'imagem' %}
                {% if form.instance.imagem %}
                    <div class="mb-2">
                        <img src="{{ form.instance.imagem.url }}" alt="Prévia da imagem" style="max-width: 150px; height: auto;">
                    </div>
                {% endif %}
                {% render_field field class="form-control-file" %}
            {% elif field.name == 'categoria' %}
                <div class="d-flex align-items-center">
                    {% render_field field class="form-control" %}
                    <a href="{% url 'produto:categoria_add' %}" class="ml-2">
                        <button type="button" class="btn btn-primary">
                            <span class="fa fa-plus"></span> Criar Categoria
                        </button>
                    </a>
                </div>
            {% else %}
                {% render_field field class="form-control" %}
            {% endif %}
            {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
    {% endfor %}
    
    <button type="submit" class="btn btn-success">
        {% if form.instance.pk %}
            Atualizar
        {% else %}
            Criar
        {% endif %}
    </button>
</form>

{% endblock content %}
