{% extends 'base.html' %} {% block content %}
<a class="btn btn-primary" href="{% url 'produto:produto_list' %}"> Voltar</a>
<h1>
  {{ object }}
</h1>

<div class="col-sm-6">
    <table class="table table-user-information">
        <tbody>
            <tr>
                <th class="text-right"></th>
                <td>
                    {% if object.imagem %}
                        <img src="{{ object.imagem.url }}" alt="{{ object.nome }}" style="max-width: 200px; height: auto;">
                    {% else %}
                        <span>Sem imagem disponível</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th class="text-right">Nome</th>
                <td>{{ object.nome }}</td>
            </tr>
            <tr>
                <th class="text-right">Preço</th>
                <td>{{ object.preco }}</td>
            </tr>
            <tr>
                <th class="text-right">Estoque</th>
                <td>{{ object.estoque }}</td>
            </tr>
            <tr>
                <th class="text-right">Estoque Mínimo</th>
                <td>{{ object.estoque_minimo }}</td>
            </tr>
            <tr>
                <th class="text-right">Categoria</th>
                <td>{{ object.categoria }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock content %}
