{% load static %}

<link rel="stylesheet" href="{% static 'nav/css/style.css' %}">

{% if request.user.is_authenticated %}
<div class="side-bar">
  <div class="menu-items">
    <div class="payroll">
      <div class="group-3">
        <div class="rectangle-8"></div>
        <div class="frame-7">
          <div class="staff3"><a href="{% url 'produto:produto_list' %}"><img class="staff2" src="{% static 'nav/images/Group 8.svg' %}" alt="" />      Estoque</a></div>
        </div>
      </div>
    </div>
    <div class="line-3"></div>
    <div class="payroll">
      <div class="rectangle-9"></div>
      <div class="group-3">
        <div class="rectangle-8"></div>
        <div class="frame-7">
            <a href="{% url 'core:index' %}">
                <img class="staff2" src="{% static 'nav/images/circulars.svg' %}" alt="" />
            </a>
            <div class="staff3">
                <a href="{% url 'estoque:estoque_entrada_list' %}">   Entrada</a>
            </div>
        </div>
      </div>
    </div>
    <div class="line-3"></div>
    <div class="payroll">
      <div class="rectangle-9"></div>
      <div class="group-3">
        <div class="rectangle-8"></div>
        <div class="frame-7">
           <a href="{% url 'core:index' %}"><img class="staff2" src="{% static 'nav/images/Group 3.svg' %}" alt="" />
          <div class="staff3"><a href="{% url 'estoque:estoque_saida_list' %}">   Saída</a></div>
        </div>
      </div>
    </div>
    <div class="line-3"></div>
    {% if request.user.is_authenticated %}
    {% if request.user.is_superuser %} 
    <div class="circulars">
      <div class="rectangle-9"></div>
      <div class="group-3">
        <div class="rectangle-8"></div>
        <div class="frame-7">
            <a href="{% url 'core:index' %}"><img class="staff2" src="{% static 'nav/images/Group 4.svg' %}" alt="" />
            <div class="staff3"><a href="{% url 'admin:index' %}">   Configuração</a></div>
        </div>
      </div>
    </div>
    <div class="line-3"></div>
    {% endif %}
    <div class="circulars">
      <div class="rectangle-9"></div>
      <div class="group-3">
        <div class="rectangle-8"></div>
        <div class="frame-7">
           <div class="staff3">
                <form style="color:white;" action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <a href="{% url 'core:index' %}"><img class="staff2" src="{% static 'nav/images/Dashboard.svg' %}" alt="" />   
                    <button type="submit" style="background: none; border: none;" class="">Logout</button>
                </form>
            </div>
        </div>
      </div>
      <div class="line-3"></div>
    </div>
    {% endif %}
  </div>
</div>
{% endif %}