{% extends 'base.html' %} {% block content %} {% load static %}
<a href="{% url 'produto:produto_list' %}"> </a>

<link rel="stylesheet" href="{% static 'detaile/css/style.css' %}">

<div class="stocks-and-inventory-stock">
  <a class="" href="{% url 'produto:produto_list' %}"> </a>
  <div class="rectangle-38"></div>
  <div class="frame-141">
    <div class="stock-list">
      {% if object.movimento == 'e' %}
        Entrada: {{ object }}
      {% else %}
        Saída: {{ object }}
      {% endif %}
    </div>
    <div class="frame-140">
      <div class="table">
        <div class="">
          <div class="nome-produto">Data</div>
          <div class="category">Funcionário</div>
        <div class="table-rows">
          <div class="table-row-1">
            <div class="table-row">
              <div class="frame-139">
                <td class="rectangle-39">  
                <div class="group-726">
                  <div class="nome">{{ object.created }}</div>
                  <div class="categorias">{{ object.usuario.first_name }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
          <table class="table2 ">
            <thead>
              <tr>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Saldo</th>
              </tr>
            </thead>
            <tbody>
              {% for obj in object.estoques.all %}
                <tr>
                  <td>{{ obj.produto }}</td>
                  <td>{{ obj.quantidade }}</td>
                  <td>{{ obj.saldo }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}